{% extends 'main/base.html' %}

{% block content %}
    <div class="container">

        <div class="chatbox">
            {% for i in texts %}
            <div class="message">
                <p><strong>{{ i.user }}:</strong> {{ i.text }}</p>
                <p class="timestamp">{{ i.created|date:"F j, Y H:i" }}</p>
            </div>
            {% endfor %}
            <div class="message"> 
            </div>
            <div class="message">
            </div>
        </div>
        <form method="post">
            {% csrf_token %}
            <input type="text" name="text" placeholder="Type your message here">
            <button type="submit" name="user" value="{{ request.user.id }}">Send</button>
        </form>
    </div>
{% endblock %}