{% extends 'main/base.html' %}

{% block content %}
    <div class="container">

        <div class="chatbox">
            {% for i in texts %}
            <div class="message">
                <p>{{ i.user.username }} - {{ i.text }}</p>
                <p>{{ i.created }}</p>
            </div>
            {% endfor %}
            <div class="message"> 
            </div>
            <div class="message">
            </div>
        </div>
        <form method="post">
            {% csrf_token %}
            <input type="text" name="text" placeholder="Type your message here">
            <input type="submit" value="Send">
        </form>
    </div>
{% endblock %}