{% extends 'main/base.html' %}

{% block content %}
  <div class="container">
    <div class="chatbox">
      <form method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Name">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password1" placeholder="Password">
        <input type="password" name="password2" placeholder="Password">
        

        <input type="submit" value="Sign up">
      </form>
      {% for message in messages %}
      <p>{{message}}</p>
      {% endfor %}
    </div>
</div>
{% endblock %}
